/* Created by: MariaG
* Created on: April 20, 2022
* This CSS file defines the style for index.html
* ICS2O-Assign-03-HTML-BookCount
*/

img {
  width: 25%;
}

figcaption {
  font-size: 1vw;
}

#left-side {
  float: left;
  background-color: #283999;
  padding: 30px;
  color: white;
  margin-left: 10%;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  width: 20%;
}

#container {
  margin-left: 30%;
}

#right-side {
  padding: 20px;
  margin: 90px;
}
